.play_field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/bgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_drink {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 400px;
}

.new_game {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.player_icon {
  position: absolute;
  right: 0;
}
.player_icon:hover {
  cursor: pointer;
}

.z_index {
  z-index: 1;
}

.d_none {
  display: none;
}

.visible {
  visibility: hidden;
}

.cover_card {
  height: 351px;
  width: 250px;
  position: absolute;
  top: 25px;
  right: 24px;
  border-radius: 10px;
  border: 1px solid #000;
}

.card_stack {
  margin-left: 140px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}

.played_card {
  transform: scale(1) translateX(325px) translateY(-234px) rotate(10deg);
  height: 363px;
  width: 250px;
}
.played_card img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flipp_box {
  transition: 200ms;
  height: 350px;
  width: 250px;
  position: absolute;
  top: 25px;
  right: 25px;
  perspective: 1000px;
}
.flipp_box img {
  height: 100%;
  width: 100%;
}

.flip-box-inner {
  position: relative;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  transition: 200ms;
  transform: rotateY(180deg) translateX(-30px);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front img {
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.card {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #000;
  height: 350px;
}

.rotate {
  display: block;
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.top_card_hover {
  transition: 200ms;
}
.top_card_hover:hover {
  transform: translateX(-30px);
}

.notice_player_div {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  align-items: center;
}

.notice_player {
  margin-right: 35px;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  animation: bounce 1s infinite;
}

.mobile_player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: #C2185B;
}
.mobile_player:hover {
  cursor: pointer;
}

.put_on_table {
  transform: scale(1) translateX(240px) translateY(-430px) rotate(10deg);
  animation: card_animation 1.2s;
}

@keyframes card_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(240px) translateY(-430px) rotate(10deg);
  }
}
@keyframes card_animation_mobile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateY(-300px);
  }
}
@keyframes card_animation_mobile_se {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateY(-255px);
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1900px) {
  .player_icon {
    right: unset;
    left: 0;
    margin-top: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .cover_card {
    height: 301px;
    width: 200px;
  }
  .card {
    height: 300px;
    width: 200px;
  }
  .flipp_box {
    height: 300px;
    width: 200px;
  }
  .played_card {
    transform: scale(1) translateX(325px) translateY(-265px) rotate(10deg);
    height: 300px;
    width: 200px;
  }
  .flip-box-front, .flip-box-back {
    height: 301px;
  }
}
@media screen and (max-width: 900px) {
  .card_drink {
    top: unset;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .d_none_mobile {
    display: none;
  }
  .mobile_player {
    visibility: visible;
  }
  .notice_player_div {
    bottom: unset;
    top: 11px;
    right: 25px;
  }
  .put_on_table {
    transform: scale(1) translateY(-300px);
    animation: card_animation_mobile 1.2s;
  }
  .played_card {
    transform: scale(1) translateY(-185px) translateX(85px);
    height: 200px;
    width: 130px;
  }
  .cover_card {
    height: 200px;
    width: 130px;
  }
  .card {
    height: 200px;
    width: 130px;
  }
  .flipp_box {
    height: 200px;
    width: 130px;
  }
  .flip-box-front, .flip-box-back {
    height: 200px;
  }
  .notice_player {
    font-size: 12px;
  }
}
@media screen and (max-height: 741px) {
  .played_card {
    transform: scale(1) translateY(-140px) translateX(85px);
  }
  .put_on_table {
    transform: scale(1) translateY(-255px);
    animation: card_animation_mobile_se 1.2s;
  }
}/*# sourceMappingURL=game.component.css.map */