.player_icon_main
    display: flex
    align-items: center
    gap: 50px
    background-color: rgb(120, 37, 71)
    border-top-left-radius: 30px
    border-bottom-left-radius: 30px
    padding-right: 50px
    font-size: 25px
    font-weight: bolder
    width: 400px
    transition: 200msd
    img
        height: 60px

.player_active
    color: #fff
    width: 450px
    background-color: #C2185B

@media screen and ( max-width: 1900px )
    .player_icon_main
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        flex-direction: row-reverse
        width: 300px
        img
            margin-right: -81px
