<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px' : 100 + (100*i)}" [name]=player [player_active]="i == game.current_player"
    class="player_icon" ></app-player>
<div class="play_field">
    <div class="played_card ">
        <img *ngFor="let card of game.played_cards; let i = index;" src="/assets/img/cards/{{ card }}.png" [class.visible]="!played_card">
    </div>

    <div class="card_stack">
        <img src="/assets/img/cards/card_cover.jpg" class="cover_card" [class.z_index]="!d_none">
        <img *ngFor="let card of [0,1,2,3,4]; let i = index;" [ngStyle]="{'right.px' : i*5, 'top.px' : i*5}"
            src="/assets/img/cards/card_cover.jpg" alt="" class="card">
        <img src="/assets/img/cards/card_cover.jpg" class="cover_card">
        <div class="flipp_box">
            <div class="flip-box-inner" [class.rotate]="pick_card_animation">
                <div class="flip-box-front">
                    <img (click)="pickCard()" [class.top_card_hover]="!pick_card_animation"
                        src="/assets/img/cards/card_cover.jpg" alt="">
                </div>
                <div class="flip-box-back">
                    <img src="/assets/img/cards/{{ top_card }}.png" [class.put_on_table]="put_on_table_animation"
                        class="d_none">
                </div>
            </div>
        </div>
    </div>
</div>
<app-drink-description [card]="top_card" class="card_drink"></app-drink-description><app-drink-description [card]="top_card" class="card_drink"></app-drink-description>
<button (click)="openDialog()" mat-fab color="primary" class="button_add">
    <mat-icon>add</mat-icon>
  </button>